*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}


header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}
.nav-item .divider{
	color: white!important;
}
.nav-item .divider:hover{
	background: url(../img/divider.png);
	background-position: bottom;
	background-repeat: no-repeat;
}


.banner{
	background: url(../img/banner-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-img{
	padding-top: 125px;
}
.banner-text{
	padding-top: 160px;
	position: relative;
}
.banner-text h6{
	color: #008ed6;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
}
.banner-text h1{
	font-size: 48px;
	font-weight: 600;
	color: white;
	padding-top: 24px;
	padding-bottom: 28px;
	padding-right: 70px;
}
.banner-text p{
	font-size: 1.2rem;
	font-weight: 400;
	color: #909091;
}
.btn{
	padding-left: 0px;
}

.btn a{
	text-decoration: none;
	color: white;
}
.btn .btn-1{
	height: 44px;
	width: 150px;
	color: white;
	background: #008ed6;
	border: none;
	border-radius: 4px;
	margin-right: 18px;
}
.btn .btn-1:hover{
	color: rgba(255, 255, 255, 1);
  	box-shadow: 0 5px 15px rgb(0,142,214, .4);
}
.btn .btn-2{
	height: 44px;
	width: 150px;
	color: white;
	background: transparent;
	border: 1px solid white;
	border-radius: 4px;
	margin-right: 18px;
	position: relative;
}
.btn .btn-2:hover{
	background: #008ed6;
	border: none;
	color: rgba(255, 255, 255, 1);
  	box-shadow: 0 5px 15px rgb(0,142,214, .4);
}



.features{
	padding-top: 80px;
	border-bottom: 2px solid #f2f2f2;
}
.features-items .features-top{
	text-align: center;
}
.features-items .features-top h6{
	color: #008ed6;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
}
.features-items .features-top h1{
	font-size: 40px;
	font-weight: 600;
	color: black;
	padding-top: 24px;
	padding-bottom: 28px;
}
.features-items .features-bottom{
	text-align: center;
	padding: 70px 0px 80px;
}
.features-items .features-bottom i{
	color: #008ed6;
	font-size: 30px;
	height: 90px;
	width: 90px;
	line-height: 90px;
	border: 1px solid #e4e4e4;
	border-radius: 50%;
}
.features-items .features-bottom i:hover{
	background: #008ed6;
	color: white;
}
.features-items .features-bottom h2{
	font-size: 24px;
	padding-top: 16px;
	padding-bottom: 12px;
}
.features-items .features-bottom p{
	color: #999999;
	font-size: 16px;
}



.features-2{
	padding-top: 80px;
	padding-bottom: 40px;
}
.features-2 .features-2-items .features-2-text{
	text-align: left;
}
.features-2 .features-2-items .features-2-text h6{
	color: #008ed6;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: .1em;
}
.features-2 .features-2-items .features-2-text h1{
	font-size: 40px;
	font-weight: 600;
	color: black;
	padding-top: 13px;
	padding-bottom: 16px;
}
.features-2 .features-2-items .features-2-text p{
	color: #999999;
	font-size: 16px;
	padding: 30px 0px 45px;
}
.features-2 .features-2-items .features-2-text .row .col-md-12 .img-t span{
	font-weight: 600;
	margin-left: 6px;
}
.features-2 .features-2-items .features-2-text .row .col-md-12 .img-t img{
	width: 12px;
}




.details{
	background: #f2f2f2;
	padding-top: 80px;
	padding-bottom: 60px;
}
.details .details-items h6{
	color: #008ed6;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
	margin-top: 52px;
}
.details .details-items h1{
	font-size: 40px;
	font-weight: 600;
	color: black;
	padding-top: 13px;
	padding-bottom: 16px;
}
.details .details-items p{
	margin-top: 20px;
	color: #999999;
	font-size: 16px;
}



.comment{
	padding-top: 80px;
	padding-bottom: 60px;
	background: url(../img/pricing-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.comment-items{
	text-align: center;
}
.comment-items h6{
	color: #008ed6;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
}
.comment-items h1{
	font-size: 40px;
	font-weight: 600;
	color: white;
	padding-top: 24px;
	padding-bottom: 28px;
}
.comment-1{
	color: white;
	padding-top: 90px;
	padding-right: 26px;
	padding-bottom: 110px;
}
.comment-1 p{
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	padding-bottom: 30px;
}
.comment-1 h4{
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
}
.comment-1 h6{
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .05em;
	text-transform: uppercase;
	line-height: 13px;
}




.like{
	background: black;
}
.like-items{
	padding: 60px 0px;
}
.like-items h1{
	font-size: 36px;
	color: #efeff0;
}
.like-items h1 span{
	font-weight: 700;
	color: white;
}
.btn-4 .btn-1{
	height: 44px;
	width: 150px;
	color: white;
	background: #008ed6;
	border: none;
	border-radius: 4px;
	margin-right: 18px;
}
.btn-4 .btn-2{
	height: 44px;
	width: 150px;
	color: white;
	background: transparent;
	border: 1px solid white;
	border-radius: 4px;
	margin-right: 18px;
	position: relative;
}
.btn-4 a{
	text-decoration: none;
	color: white;
}
.btn-4 .btn-1:hover{
	color: rgba(255, 255, 255, 1);
  	box-shadow: 0 5px 15px rgb(0,142,214, .4);
}
.btn-4 .btn-2:hover{
	background: #008ed6;
	border: none;
	color: rgba(255, 255, 255, 1);
  	box-shadow: 0 5px 15px rgb(0,142,214, .4);
}



.pricing{
	padding-top: 80px;
	padding-bottom: 60px;
}
.pricing-items{
	text-align: center;
}
.pricing-items h6{
	color: #008ed6;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
}
.pricing-items h1{
	font-size: 40px;
	font-weight: 600;
	color: black;
	padding-top: 24px;
	padding-bottom: 28px;
}
.t-full{
	margin-top: 70px;
	text-align: center;
}
.t-1:hover .t-head h3{ 
	color: #008ed6;
}
.t-1:hover .t-body{
	background: #008ed6;
	color: white;
}
.t-1:hover .t-foot button{
	background: #008ed6;
	color: white; 
}
.t-head{
	border: 1px solid #e0e0e0;
	padding: 30px 0px 24px;
}
.t-head h3{
	font-size: 24px;
	font-weight: 700;
}
.t-body{
	border: 1px solid #e0e0e0;
	padding: 46px 0px 40px;
	border-top: none;
}
.t-body h2{
	font-size: 72px;
	font-weight: 600;
	position: relative;
}
.t-body .d0{
	font-size: 28px;
	position: absolute;
	left: 96px;
	top: 13px;
}
.t-body .d50{
	font-size: 28px;
	position: absolute;
	left: 78px;
	top: 13px;
}
.t-body p{
	font-size: 18px;
	color: #999999;
}
.t-foot{
	padding-bottom: 40px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 50px;
	border: 1px solid #e0e0e0;
	border-top: none;
}
.t-foot p{
	font-size: 18px;
	color: #999999;
	font-weight: 400;
}
.t-foot p span{
	color: #008ed6;
}
.t-foot button{
	height: 44px;
	width: 150px;
	color: #008ed6;
	background: transparent;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 30px;
}
.t-foot button a{
	font-size: 18px;
	font-weight: 700;
}




.contacts{
	padding-top: 80px;
	padding-bottom: 120px;
	background: #ededed;
	text-align: center;
	position: relative;
	z-index: -2;
}
.contacts-items .contacts-top{
	text-align: center;
}
.contacts-items .contacts-top h6{
	color: #008ed6;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
}
.contacts-items .contacts-top h1{
	font-size: 40px;
	font-weight: 600;
	color: black;
	padding-top: 24px;
	padding-bottom: 28px;
}
.phn{
	margin-top: 42px;
}
.phn .phn1{
	margin-bottom: 80px;
}
.phn .phn1 i{
	font-size: 24px;
	margin-bottom: 30px;
}
.phn .phn1 p{
	font-size: 18px;
	color: #999999;
	font-weight: 400;
}
.forms{
	width: 70%;
	margin: 0px auto;
	padding: 30px 20px;
	background: black;
	position: absolute;
	top: 69%;
	display: flex;
	justify-content: center;
	left: 15%;
	z-index: 9999;
}
.forms-item input{
	margin: 10px auto;
	background: black;
	color: grey;
	width: 100%;
	overflow: hidden;
}
.forms-item textarea{
	margin: 10px;
	padding: 22px 0px;
	background: black;
	color: grey;
	width: 100%;
}
.forms-item .btn-3{
	text-align: right;
}
.forms-item .btn-3 button{
	height: 44px;
	width: 150px;
	color: white;
	background: #008ed6;
	border: none;
	border-radius: 4px;
	margin-right: 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.forms-item .btn-3 button:hover{
	color: rgba(255, 255, 255, 1);
  	box-shadow: 0 5px 15px rgb(0,142,214, .4);
}



.maps{
	position: relative;
	z-index: -99!important;
}

.footer{
	background: black;
	text-align: center;
}
.footer i{
	font-size: 26px;
	margin: 58px 10px 20px;
	color: #444348;

}
.footer i:hover{
	color: #008ed6;
	cursor: alias;
}
.footer p{
	padding: 0;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 40px;
	color: #444348;
}
.footer i:last-child{
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	color: #444348;
}